<a href="https://colab.research.google.com/github/edelord/DS-practice/blob/main/2_10_Series__challenge_bees_and_knees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.gormanalysis.com/blog/python-pandas-for-your-grandpa-2-10-challenge-bees-knees/

Given, two Series bees and knees, if the ith value of bees is NaN, double the ith value inside knees.

In [1]:
import numpy as np
import pandas as pd

bees = pd.Series([True, True, False, np.nan, True, False, True, np.nan])
print(bees)
## 0     True
## 1     True
## 2    False
## 3      NaN
## 4     True
## 5    False
## 6     True
## 7      NaN
## dtype: object
knees = pd.Series([5,2,9,1,3,10,5,2], index = [7,0,2,6,3,5,1,4])
print(knees)
## 7     5
## 0     2
## 2     9
## 6     1
## 3     3
## 5    10
## 1     5
## 4     2
## dtype: int64

0     True
1     True
2    False
3      NaN
4     True
5    False
6     True
7      NaN
dtype: object
7     5
0     2
2     9
6     1
3     3
5    10
1     5
4     2
dtype: int64

In [ ]:
bees.i

In [28]:
print(pd.isna(bees).to_numpy())

print(pd.isna(bees))
print(bees[pd.isna(bees)].index)
print(knees.iloc[bees[pd.isna(bees)].index])

knees.iloc[bees[pd.isna(bees)].index] *= 2

print(knees)

[False False False  True False False False  True]

solution

In [ ]:
knees.loc[pd.isna(bees).to_numpy()] *= 2
print(knees)