<a href="https://colab.research.google.com/github/edelord/DS-practice/blob/main/Series__basic_indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

x = pd.Series([5, 10, 15, 20, 25])
print(x)
## 0     5
## 1    10
## 2    15
## 3    20
## 4    25
## dtype: int64

x[0]
## 5
x[1]
## 10

x.index = [3,1,4,0,2]
print(x)
## 3     5
## 1    10
## 4    15
## 0    20
## 2    25
## dtype: int64

# Now x[0] returns something totally different.
x[0]
## 20

# So, if you want to access the ith value of a Series, you should use the Series.iloc property. 
# For example x.iloc[0] returns the first element by position, and x.iloc[1] returns the 2nd element by position.
x.iloc[0]
## 5
x.iloc[1]
## 10

x.iloc[-1]
## 25
x.iloc[-3]
## 15

x.iloc[1:4:2]
## 1    10
## 0    20
## dtype: int64

x.iloc[[0, 2, 3]]
## 3     5
## 4    15
## 0    20
## dtype: int64
x.iloc[np.array([0, 2, 3])]
## 3     5
## 4    15
## 0    20
## dtype: int64
x.iloc[pd.Series([0, 2, 3])]
## 3     5
## 4    15
## 0    20
## dtype: int64

0     5
1    10
2    15
3    20
4    25
dtype: int64
3     5
1    10
4    15
0    20
2    25
dtype: int64

3     5
4    15
0    20
dtype: int64

In [2]:
grades = pd.Series([82, 94, 77, 89, 91, 54])
print(grades)
## 0    82
## 1    94
## 2    77
## 3    89
## 4    91
## 5    54
## dtype: int64

0    82
1    94
2    77
3    89
4    91
5    54
dtype: int64

In [3]:
grades.index = ['homer', 'maggie', 'grandpa', 'bart', 'lisa', 'marge']
print(grades)
## homer      82
## maggie     94
## grandpa    77
## bart       89
## lisa       91
## marge      54
## dtype: int64

homer      82
maggie     94
grandpa    77
bart       89
lisa       91
marge      54
dtype: int64

In [4]:
grades['bart']
## 89

89

In [5]:
grades[0]
## 82

82

In [6]:
grades.loc['homer':'grandpa']
## homer      82
## maggie     94
## grandpa    77
## dtype: int64

homer      82
maggie     94
grandpa    77
dtype: int64

In [7]:
grades.iloc[0:2]
## homer     82
## maggie    94
## dtype: int64

homer     82
maggie    94
dtype: int64

In [8]:
grades.loc[['homer', 'grandpa', 'bart']]
## homer      82
## grandpa    77
## bart       89
## dtype: int64

homer      82
grandpa    77
bart       89
dtype: int64

In [9]:
x = pd.Series(np.random.normal(size = 10**6))
print(x.index)
## RangeIndex(start=0, stop=1000000, step=1)

RangeIndex(start=0, stop=1000000, step=1)

In [10]:
y = pd.Series(np.random.normal(size = 10**6), index=np.arange(10**6))
print(y.index)
## Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
##                  8,      9,
##             ...
##             999990, 999991, 999992, 999993, 999994, 999995, 999996, 999997,
##             999998, 999999],
##            dtype='int64', length=1000000)

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            999990, 999991, 999992, 999993, 999994, 999995, 999996, 999997,
            999998, 999999],
           dtype='int64', length=1000000)

In [11]:
import sys
sys.getsizeof(x)
## 8000144
sys.getsizeof(y)
## 16000016

16000032

In [12]:
alpha = pd.Series([2, 3, 5, 7, 11], index = [0, 0, 1, 1, 2])
print(alpha)
## 0     2
## 0     3
## 1     5
## 1     7
## 2    11
## dtype: int64

0     2
0     3
1     5
1     7
2    11
dtype: int64

In [13]:
alpha.loc[0]
## 0    2
## 0    3
## dtype: int64

0    2
0    3
dtype: int64

Change or overwrite series elements

In [14]:
foo = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(foo)
## a    10
## b    20
## c    30
## d    40
## e    50
## dtype: int64

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
foo.iloc[1] = 200

In [16]:
foo.iloc[[0, 1, 2]] = 99

In [17]:
foo.iloc[:3] = 999

In [18]:
foo.iloc[1] = 200        # same as: foo.loc['b'] = 200
foo.iloc[[0, 1, 2]] = 99 # same as: foo.loc[['a', 'b', 'c']] = 99
foo.iloc[:3] = 999       # same as: foo.loc['a':'c'] = 99

In [19]:
new_vals = np.array([5, 10, 15, 20, 25])

In [20]:
foo.iloc[:] = new_vals
print(foo)
## a     5
## b    10
## c    15
## d    20
## e    25
## dtype: int64

a     5
b    10
c    15
d    20
e    25
dtype: int64

In [21]:
x = pd.Series([10, 20, 30, 40])
print(x)
## 0    10
## 1    20
## 2    30
## 3    40
## dtype: int64

0    10
1    20
2    30
3    40
dtype: int64

In [22]:
y = pd.Series([1, 11, 111, 1111], index=[7,3,2,0])
print(y)
## 7       1
## 3      11
## 2     111
## 0    1111
## dtype: int64

7       1
3      11
2     111
0    1111
dtype: int64

In [23]:
x.loc[[0, 1]] = y
print(x)
## 0    1111.0
## 1       NaN
## 2      30.0
## 3      40.0
## dtype: float64

0    1111.0
1       NaN
2      30.0
3      40.0
dtype: float64

In [24]:
x.loc[[0, 1]] = y.to_numpy()  # ERROR

ValueError: ignored

In [25]:
x.loc[[0, 1]] = y.to_numpy()[:2]
print(x)
## 0     1.0
## 1    11.0
## 2    30.0
## 3    40.0
## dtype: float64

0     1.0
1    11.0
2    30.0
3    40.0
dtype: float64