<a href="https://colab.research.google.com/github/edelord/DS-practice/blob/main/Series_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# create a series from a py array
x = pd.Series([5, 10, 15, 20, 25, 30, 35])
print(x, '\n')
type(x)
x.dtype

0     5
1    10
2    15
3    20
4    25
5    30
6    35
dtype: int64

dtype('int64')

In [5]:
# create a series from a py dictionary
x.to_numpy()

array([ 5, 10, 15, 20, 25, 30, 35])

In [7]:
x.head()

2    15
3    20
4    25
5    30
6    35
dtype: int64

In [8]:
x.tail()

2    15
3    20
4    25
5    30
6    35
dtype: int64

In [9]:
# create a series from a py dictionary
data = {'a':0., 'b':1., 'c':2., 'd':3.}
y = pd.Series(data)
print(y)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [11]:
# a series of strings will be stored as dtype object, unless specified otherwise
z = pd.Series(['frank', "dee", 'dennis'], dtype='string')
print(z)

0     frank
1       dee
2    dennis
dtype: string

In [12]:
# create a series from a numpy array
import numpy as np
x = np.array([10, 20, 30, 40])
y = pd.Series(x)

In [13]:
print(y)

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
# a series with 10 equally spaced numbers between 1 and 2
pd.Series(np.linspace(start=1, stop=2, num=10))

0    1.000000
1    1.111111
2    1.222222
3    1.333333
4    1.444444
5    1.555556
6    1.666667
7    1.777778
8    1.888889
9    2.000000
dtype: float64

In [18]:
# a series of standard normal (ie, normal, "bell shaped") random distribution
pd.Series(np.random.normal(size=5))

0    0.863033
1    1.298304
2    1.274886
3   -0.387691
4   -0.462260
dtype: float64