<a href="https://colab.research.google.com/github/edelord/DS-practice/blob/main/Series__boolean_indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.gormanalysis.com/blog/python-pandas-for-your-grandpa-2-4-series-boolean-indexing/

In [3]:
import numpy as np
import pandas as pd

foo = pd.Series([20, 50, 11, 45, 17, 31])
print(foo)
## 0    20
## 1    50
## 2    11
## 3    45
## 4    17
## 5    31
## dtype: int64

0    20
1    50
2    11
3    45
4    17
5    31
dtype: int64

In [5]:
foo < 20
## 0    False
## 1    False
## 2     True
## 3    False
## 4     True
## 5    False
## dtype: bool

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [3]:
mask = foo < 20
foo.loc[mask]
## 2    11
## 4    17
## dtype: int64

2    11
4    17
dtype: int64

In [4]:
# or, in one line:
foo.loc[foo < 20]
## 2    11
## 4    17
## dtype: int64

2    11
4    17
dtype: int64

In [7]:
foo.index = [0, 1, 2, 3, 5, 4]
foo.loc[mask]
## 2    11
## 4    31
## dtype: int64

2    11
4    31
dtype: int64

This time, the result includes 31 instead of 17. That’s because foo.loc[mask] picks out the elements of foo whose index label matches those of mask where mask has a True value. Usually this is fine, but in some cases it might not be what you want and if you’d rather just include or exclude values of foo by corresponding positions of True and False values in mask, just use mask's underlying NumPy array to subset foo, like

In [8]:
foo.loc[mask.to_numpy()]
## 2    11
## 5    17
## dtype: int64

2    11
5    17
dtype: int64

In [4]:
ages = pd.Series(
    data = [42, 43, 14, 18, 1],
    index = ['peter', 'lois', 'chris', 'meg', 'stewie']
)
print(ages)
## peter     42
## lois      43
## chris     14
## meg       18
## stewie     1
## dtype: int64

peter     42
lois      43
chris     14
meg       18
stewie     1
dtype: int64

In [5]:
genders = pd.Series(
    data = ['female', 'female', 'male', 'male', 'male'],
    index = ['lois', 'meg', 'chris', 'peter', 'stewie'],
    dtype = 'string'
)
print(genders)
## lois      female
## meg       female
## chris       male
## peter       male
## stewie      male
## dtype: string

lois      female
meg       female
chris       male
peter       male
stewie      male
dtype: string

In [7]:
# who's a male younger than 18 ?
mask = (genders == 'male') & (ages < 18)
print("mask is:", mask, "\n")
# mask is: chris      True
# lois      False
# meg       False
# peter     False
# stewie     True

mask.loc[mask]
## chris     True
## stewie    True
## dtype: bool

mask is: chris      True
lois      False
meg       False
peter     False
stewie     True
dtype: bool

chris     True
stewie    True
dtype: bool

In [8]:
print(mask)

chris      True
lois      False
meg       False
peter     False
stewie     True
dtype: bool

## *use the ~ operator to negate a boolean Series *

In [9]:
~mask
## chris     False
## lois       True
## meg        True
## peter      True
## stewie    False
## dtype: bool

chris     False
lois       True
meg        True
peter      True
stewie    False
dtype: bool

In [8]:
ages.loc[ages >= 18 & ages <= 42]  # ERROR; add ()!

ValueError: ignored

In [10]:
ages.loc[(ages >= 18) & (ages <= 42)]  # ok

peter    42
meg      18
dtype: int64